<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FacturaElectronicaProd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="FacturaElectronica.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServiceSoap"
						 maxReceivedMessageSize="65536">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint name="WSFE_HOMO"
            address="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"
            binding="basicHttpBinding"
            bindingConfiguration="ServiceSoap"
            contract="FacturaElectronicaProd.ServiceReference2.ServiceSoap" />

			<endpoint name="WSFE_PROD"
					  address="https://servicios1.afip.gov.ar/wsfev1/service.asmx"
					  binding="basicHttpBinding"
					  bindingConfiguration="ServiceSoap"
					  contract="FacturaElectronicaProd.ServiceReference2.ServiceSoap" />
		</client>
    </system.serviceModel>
    <applicationSettings>
        <FacturaElectronicaProd.Properties.Settings>
            <setting name="FacturaElectronica_WSAA_LoginCMSService" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="FacturaElectronica_WSFEV1_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="FacturaElectronicaProd_Padron_PersonaServiceA5"
                serializeAs="String">
                <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
            </setting>
        </FacturaElectronicaProd.Properties.Settings>
        <FacturaElectronica.Properties.Settings>
            <setting name="FacturaElectronica_WSAA_LoginCMSService" serializeAs="String">
                <value>https://wsaa.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="FacturaElectronica_WSFEV1_Service" serializeAs="String">
                <value>https://servicios1.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
        </FacturaElectronica.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
